{%- extends 'basic.tpl' -%}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<style type="text/css">
div.code_cell {
    border: 2px solid grey;
    width : 100% !important;
    height : auto;
}
div.cell {
    width : 100% !important;
    height: 20px;
}
div.highlight {
    width : 100% !important;
    height: 20px;
}
div.inner_cell {
    width : 100% !important;
    height: 20px;
}
div.input-area {
    width : 20px !important;
    height: 20px;
    display:inline-block;
}
</style>
{%- endblock header %}